<html>
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AThreeThirty.com</title>
    <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
</head>
<body>
    <!-- Navigation -->
    <div class="navbar">
        <a href="https://twitter.com/A330Master">Twitter</a>
        <a href="https://www.instagram.com/pyrobreath">Instagram</a>
        <a href="https://www.linkedin.com/in/andrew-m-taylor">LinkedIn</a>
        <a href="https://github.com/andytaylor1">GitHub</a>
        <a href="#footer" id="contButton">Contact</a>
    </div>

    <main>
        <div class="base">
        {% block content %}
        {% endblock %}
        </div>

    </main>


    </div>

        <footer id="footer">
            <h3>Get in touch</h3>
            <p>E-mail me</p>
            <address>
                <p>E-mail: <strong>andrew.taylor@athreethirty.com</strong></p>
            </address>
                    
        </footer>
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" 
            type="text/javascript">
        </script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <script 
            src="{% static "landing/js/main.js" %}">
        </script>
</body>
</html>
